@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu SiteTitle="Blazor Red" />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
}
